<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Silo</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    .container{
        width: 40%;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .logo{
        width: 250px;
    }


</style>
<body>
    <div class="container">
        <img class="logo" src="{{url_for('static', filename='siem.svg')}}" alt="">
        <span>Please enter the license key to acticate Dashboard</span>
        <form method="post" class="flex flex-col max-w-sm w-full mt-8" >
            <span class="font-bold">License Key</span>
            <input class="my-2 border border-black rounded py-2 px-4" type="text" name="license_key" id="license_key" placeholder="Enter your license key">
            <input type="submit" class="cursor-pointer  bg-blue-600 rounded py-2 w-full text-white" value="Activate">
        </form>
    </div>
</body>
</html>